.profile{
    flex: 9;
    display: flex;
    .profileRight{
        .profileRightTop{
            display: flex;
            flex-direction: column;
            .profileInfo{
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                .profileInfoName{
                    font-size: 24px;
                }
                .profileInfoDesc{
                    font-weight: 300;
                }
            }
            .profileCover{
                height: 320px;
                position: relative;
                .profileCoverImg{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }
                .profileUserImg{
                    position: absolute;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 150px;
                    border: 1px solid #FFF;
                }
            }
        }
       
        .profileRightBottom{
            display: flex;
        }
    }
}

.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.rightbarInfo{
    margin-bottom: 30px;
    .rightbarInfoItem{
        margin-bottom: 10px;
        .rightbarInfoKey{
            font-weight: 500;
            margin-right: 15px;
            color: #555;
        }
        .rightbarInfoValue{
            font-weight: 300;
        }
    }
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .rightbarFollowing{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        cursor: pointer;
        .rightbarFollowingImg{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 5px;
          }
      }
}