* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*, *:hover, *:focus, *:active {
  outline: none !important;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  height: -webkit-fill-available;
}

input, textarea {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
      -ms-user-select: text !important;
          user-select: text !important;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active,
select,
select:hover,
select:focus,
select:active {
  outline: none !important;
}

@font-face {
  font-family: "Roboto-Black";
  font-style: normal;
  src: local("Roboto-Black"), url(@/assets/styles/fonts/Roboto/Roboto-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  src: local("Roboto-Bold"), url(@/assets/styles/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
.social-container .container-wrapper {
  padding-inline: 1.25rem;
  margin-top: 4.375rem;
  display: flex;
  width: 100%;
}

.topbar-container {
  background-color: #1877F2;
  width: 100%;
  position: fixed;
  top: 0;
}
.topbar-container .inner-container {
  width: 100%;
  height: 4.375rem;
  display: flex;
  align-items: center;
  padding-inline: 1.25rem;
}
.topbar-container .inner-container .topbar-left {
  flex: 3;
}
.topbar-container .inner-container .topbar-left .logo {
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: capitalize;
  cursor: pointer;
}
.topbar-container .inner-container .topbar-center {
  flex: 5;
}
.topbar-container .inner-container .topbar-center .search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 1.875rem;
  padding: 0.375rem 0.75rem;
}
.topbar-container .inner-container .topbar-center .search-box .search-icon {
  font-size: 1.5rem !important;
}
.topbar-container .inner-container .topbar-center .search-box input {
  width: 100%;
  border: none;
  font-size: 1.125rem;
}
.topbar-container .inner-container .topbar-center .search-box input:focus {
  outline: none;
}
.topbar-container .inner-container .topbar-center .search-box input::-moz-placeholder {
  font-size: 1.125rem;
  font-weight: normal;
}
.topbar-container .inner-container .topbar-center .search-box input:-ms-input-placeholder {
  font-size: 1.125rem;
  font-weight: normal;
}
.topbar-container .inner-container .topbar-center .search-box input::placeholder {
  font-size: 1.125rem;
  font-weight: normal;
}
.topbar-container .inner-container .topbar-right {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar-container .inner-container .topbar-right .topbar-links {
  margin-left: 3rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.125rem;
}
.topbar-container .inner-container .topbar-right .topbar-icons {
  display: flex;
  align-items: center;
}
.topbar-container .inner-container .topbar-right .topbar-icons .topbar-icon-item {
  color: white;
  cursor: pointer;
  position: relative;
}
.topbar-container .inner-container .topbar-right .topbar-icons .topbar-icon-item:not(:last-child) {
  margin-right: 2rem;
}
.topbar-container .inner-container .topbar-right .topbar-icons .topbar-icon-item .notificition-icon {
  font-size: 1.75rem !important;
}
.topbar-container .inner-container .topbar-right .topbar-icons .topbar-icon-item .topbar-icon-badge {
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  border-radius: 50%;
  width: 1.125rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar-container .inner-container .topbar-right .topbar-picture {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.sidebar {
  height: calc(100vh - 70px);
  overflow-y: scroll;
  flex: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}
.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
.sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(194, 192, 192);
}
.sidebar .action-btn-wrp {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar .action-btn-wrp .action-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sidebar .action-btn-wrp .action-button .btn-icon {
  font-size: 32px !important;
}
.sidebar .action-btn-wrp .action-button .action-button-text {
  font-size: 18px;
  font-weight: 300;
}
.sidebar .action-people-wrp {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar .action-people-wrp .action-people {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sidebar .action-people-wrp .action-people img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.sidebar .action-people-wrp .action-people .action-people-text {
  font-size: 18px;
  font-weight: 300;
}

.feeds {
  flex: 5.5;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
}

.rightbar {
  flex: 3.5;
}

.user-entry-card {
  padding: 12px 12px 20px 12px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
}
.user-entry-card .entry {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.user-entry-card .entry img {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.user-entry-card .entry input {
  width: 100%;
  border: none;
  font-size: 18px;
}
.user-entry-card .entry input::-moz-placeholder {
  font-size: 18px;
  color: rgb(163, 157, 157);
}
.user-entry-card .entry input:-ms-input-placeholder {
  font-size: 18px;
  color: rgb(163, 157, 157);
}
.user-entry-card .entry input::placeholder {
  font-size: 18px;
  color: rgb(163, 157, 157);
}
.user-entry-card .card-actions {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-entry-card .card-actions .card-action-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.user-entry-card .card-actions .card-action-items .card-action-item {
  display: flex;
  align-items: center;
  gap: 4px;
}
.user-entry-card .card-actions .card-action-items .card-action-item span {
  font-size: 16px;
  font-weight: 400;
}
.user-entry-card .card-actions button {
  border: none;
  padding: 6px 12px;
  color: white;
  background-color: green;
  border-radius: 4px;
}/*# sourceMappingURL=social.css.map */